@import "common";
@import "post";
@import "header";
@import "tag";
@import "widget";

html, body {
  color: #505050;
  font-size: 14px;
  height: 100%;
  background: #ebebeb;
  font-family: NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

.center-block {
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
}

.alone-divider {
  height: 1px;
  width: 100%;
  margin: 5px 0;
  background: #ebebeb;
}

blockquote {
  font-size: inherit;
  color: #777;
  background-color: #f7f7f7;
  padding: 6px 8px;
  border-left: 4px solid #ddd;
}

.pagination {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: $colorPrimary;
}


.btn-more {
  border: 1px solid $colorPrimary;
  background: $colorPrimary;
  color: white;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

/*footer*/
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  margin-top: 20px;
}

.copyright {
  background: #333;
  font-size: 13px;
  text-align: center;
  color: #aaa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}

/*code*/

pre, .highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 15px;
  font-size: 0.9em;
  color: rgb(77, 77, 76);
  border: none;
  border-radius: 4px;
  background: rgb(247, 250, 247);
  line-height: 1.5em;
  word-wrap: normal;
}

/*pre {
  border-left: 2px solid $colorPrimary;
}*/

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* table */

