.pay {
  margin-top: 35px;
}

.pay .center {
  margin-left: auto;
  margin-right: auto;
  display: table
}

.pay-content {
  margin: 0 auto;
}

.pay-content .pay-buttons {
  margin: 10px 0;
  padding: 0 10px;
}

.pay-content .pay-images {
  margin: 10px auto;
  img {
    margin: 5px auto;
  }
}

@media screen and (min-width: 768px) {
  .pay-content .pay-images {
    img {
      width: 77%
    }
  }

  .pay-content {
    max-width: 77%;
  }
}