$colorPrimary: #607D8B;
$colorPrimaryDark: #546E7A;
$colorPrimaryDarkTransparent: rgba(84, 110, 122, 0.25);
$colorAccent: #FF6E40;
$widgetHeaderBgColor: #F5F8FA;

$widgetPaddingLeftRight: 20px;
$postItemPaddingLeftRight: 25px;
$postItemPaddingUpDown: 20px;

$shadowColor: #666666;
$shadowBlur: 3px;

$footerHeight: 66px;

$userProfileHeight: 120px;
$userAvatarRadius: 45px;
